#lenden{
    background: url(/src/Assets/Images/me.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px);
    position: relative;
}
.lenden_table{
    background: rgba(225, 225, 225, 0.711);
}
#lenden::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}